<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Manage Inventory</h2>
    </div>
    <div class="panel-body">
        <div class="row" style="padding: 10px;">
            <div class="col-md-2">
                <label>Filter By:</label>
            </div>
            <div class="col-md-4">
                <input type="text" ng-model="$ctrl.filterBy">
            </div>
            <div>
                <button class="btn btn-primary" type="button" ng-click="$ctrl.updateInventory()">
                    Save Inventory Updates
                </button>
                <button class="btn btn-primary" type="button" ng-click="$ctrl.addInventoryItem()">
                    Add New Inventory Item
                </button>
            </div>


        </div>


        <div class="table-responsive table-bordered table-striped">
            <table class="table" id="tableInventory">
                <thead>
                <tr>
                    <th> Name </th>
                    <th> Stock Amount </th>
                    <th> Price </th>
                    <th> Type </th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="inventory in $ctrl.inventory | filter: $ctrl.filterBy ">
                    <td> <input type="text" ng-model="inventory.name"/></td>
                    <td> <input type="number" ng-model="inventory.numberInStock"/></td>
                    <td> <input ng-model="inventory.price "/></td>
                    <td>
                        <select id="typeSelect" class="form-control" name="typeSelect"
                                ng-options="type.name for type in $ctrl.types track by type.id"
                                ng-model="inventory.type" style="padding: 5px"
                                >
                        </select>
                    </td>

                </tbody>

            </table>
        </div>

    </div>


</div>
