<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="text-center">Manage Inventory</h2>
    </div>
    <div class="panel-body">
        <div class="row" style="padding: 10px;">
            <div class="col-md-2">
                <label>Filter By:</label>
            </div>
            <div class="col-md-4">
                <input type="text" ng-model="$ctrl.filterBy">
            </div>
            <div>
                <button class="btn btn-primary" type="button" ng-click="$ctrl.updateInventory()">
                    Save Inventory Updates
                </button>
              <!--  <button class="btn btn-primary" type="button" ng-click="$ctrl.addInventoryItem()">
                    Add New Inventory Item
                </button>-->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" ng-click="$ctrl.newInventoryItemCreate()"
                        data-toggle="modal" data-target="#myModal">
                    Add New Inventory Item
                </button>

            </div>


        </div>


        <div class="table-responsive table-bordered table-striped">
            <table class="table" id="tableInventory">
                <thead>
                <tr>
                    <th> Name </th>
                    <th> Stock Amount </th>
                    <th> Price </th>
                    <th> Type </th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="inventory in $ctrl.inventory | filter: $ctrl.filterBy | orderBy:'-type.id'">
                    <td> <input type="text" ng-model="inventory.name"/></td>
                    <td> <input type="number" ng-model="inventory.numberInStock"/></td>
                    <td> <input ng-model="inventory.price "/></td>
                    <td>
                        <select id="typeSelect" class="form-control" name="typeSelect"
                                ng-options="type.name for type in $ctrl.types track by type.id"
                                ng-model="inventory.type" style="padding: 5px"
                                >
                        </select>
                    </td>

                </tbody>

            </table>
        </div>



    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Inventory</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive table-bordered table-striped">
                        <table class="table" id="tableInventoryNew">
                            <thead>
                            <tr>
                                <th> Name </th>
                                <th> Stock Amount </th>
                                <th> Price </th>
                                <th> Type </th>
                            </tr>
                            </thead>

                            <tbody>
                                <td> <input type="text" ng-model="$ctrl.newInventoryItem.name"/></td>
                                <td> <input type="number" ng-model="$ctrl.newInventoryItem.numberInStock"/></td>
                                <td> <input ng-model="$ctrl.newInventoryItem.price "/></td>
                                <td>
                                    <select id="typeSelectNew" class="form-control" name="typeSelect"
                                            ng-options="type.name for type in $ctrl.types track by type.id"
                                            ng-model="$ctrl.newInventoryItem.type" style="padding: 5px"
                                    >
                                    </select>
                                </td>
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary"
                            ng-click="$ctrl.addCreatedItem()" data-dismiss="modal">Save new item</button>
                </div>
            </div>
        </div>
    </div>


</div>
