<h1>Order Listing Page</h1>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Order List</h2>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <label>Filter By:</label>
            </div>
            <div class="col-md-4">
                <input type="text" ng-model="$ctrl.filterBy">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>Filtered By:</h3>
                <label>{{$ctrl.filterBy}}</label>
            </div>
        </div>

        <div class="table-responsive table-bordered table-striped">
            <table class="table">
                <thead>
                <tr>
                    <th> Number </th>
                    <th> Contents </th>
                    <th> Status </th>
                    <th> Actions </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in $ctrl.orders | orderBy: 'status' | filter: filterBy">
                    <td>{{order.id}}</td>
                    <td>{{$ctrl.getContentsStringForOrder(order)}}</td>
                    <td>{{order.status.description}}</td>
                    <td>Action Button</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>